<div class="jumbotron">
  <h1 class="display-3">Express Communication</h1>
  <p class="lead">This component will commnicate with our written express server</p>
  <hr class="my-4">
  <p>{{resMsg}}</p>
  <p>
    <input placeholder="Number 1" type="text" #num1>
  </p>
  <p>
    <input placeholder="Number 2" type="text" #num2>
  </p>
  <p>
    <input placeholder="Operation" type="text" #operation>
  </p>

  <p class="lead">
    <input type="button" class="btn btn-primary btn-lg" value="Calc" (click)="onCalc(num1.value, num2.value,operation.value )">
  </p>

</div>
